.p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #0c084c;
    text-align: center;
}
.kami{
    color:#0c084c;
    font-family: "poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}
.hero{
    display: flex;
}